<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CadenaBD" value="Provider=SQLNCLI11; Server=tcp:grupo7.database.windows.net,1433;Initial Catalog=PAV2020;Persist Security Info=False;User ID=elAleman;Password=P@VGrup07;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
