<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CadenaBD" value="Data Source=PAV-2020-grp7.mssql.somee.com;Initial Catalog=PAV-2020-grp7;Persist Security Info=True;User ID=Walter0210_SQLLogin_1;Password=***********"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
